@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800);
@font-face {
    font-family : 'LineIcons';
    src: url('../Assets/fonts/LineIcons.ttf') format('truetype');
    src: url('../Assets/fonts/LineIcons.sbg') format('svg');

}


:root {
  --cor-roxo:#764ef5;
  --cor-branco:#fbfbfb;
  --cor-preto:#282828;
  --cor-cinza:#ededed;
  --cor-cizabtn:#8d8d8d;
  --cor-cinzaC:#d2d2d2;

  --fonte-geral: 'Poppins', sans-serif;

}

* {
    margin:0;
    padding:0;
}

body {
   
    background-color:var(--cor-branco);
    font-family: var(--fonte-geral);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cab {
    width: 100%;
    padding:35px;
    background:var(--cor-branco);
    color:var(--cor-branco);
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 10px 0px #b8b8b8;
    position: fixed;
}

.containerbox {
    display: none;
}


.cab__menu {
    display: flex;
    gap: 30px;
    align-items: center;

}

.cab__menu__link {
    font-size: 1rem;
    text-decoration: none;
    color:var(--cor-preto);
}

.cab__menu__home {
    font-size: 1rem;
    text-decoration: none;
    color:var(--cor-roxo);

}

.conteudo {
    display: flex;
    flex-flow: wrap column;
    gap: 20px;
    width: 100%;
}

.conteudo__Banner {
    margin-top: 8%;
    height: 550px;
    width: 100%;
    background-image: url(../Assets/banner/banner.png);
    background-size: 100%  100%;
    background-repeat: no-repeat;

}

#Banner__subtitle {
    color: var(--cor-roxo);
    font-size: 1.563rem;
    font-weight: 600;

}

#Banner__title {
   font-size: 3.125rem;
   color:var(--cor-preto);
}

#Banner__label {
    font-size: 0.938rem;
    color:var(--cor-cizabtn);
}

.conteudo__banner__View {
    display: flex;
    flex-direction: column;
    padding: 8% 10% 10% 18%;
    gap: 5px;

}

.Conteudo__Banner__View__Btn {
    margin-top: 2%;
    border-collapse: collapse;
    background-color:var(--cor-roxo);
    width: 14%;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-branco);
    text-align: center;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 6px 0px 0px #e2e2e2;
    border: 1px solid var(--cor-roxo);
}

.Conteudo__Banner__View__Btn:hover {
    background-color:var(--cor-branco);
    border: 1px solid var(--cor-roxo);
    color: var(--cor-roxo);
}

#linha_horizontal {
    display: flex;
    width: 250px;
    border: 1px solid var(--cor-roxo);
    margin: 0 2% 1% 0;

}

.conteudo__Btn {
    /* height: 350px; */
    margin-top: 5px;
    align-items: flex-end;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:2px;
}

.conteudo__Btn__Link {
    display: flex;
    border-collapse: collapse;
    border: 1px solid var(--cor-cizabtn);
    border-radius: 20px;
    padding: 10px;
    color: var(--cor-cizabtn);
    text-decoration: none;
    justify-content: center;

}

.conteudo__Btn__Link:hover {
    color: var(--cor-branco);
    border: 1px solid var(--cor-roxo);
    background-color: var(--cor-roxo);
}

.Conteudo__About {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-content: center;
}

.Conteudo__About__D {
    flex-direction: column;
    display: flex;
    text-align: center;
}

.Conteudo__About__T {
    padding: 10% 0% 1% 0%;
    font-size:1.875rem;

}

.Conteudo__About__P {
    padding: 0 28% 3% 28%;
    font-size: 0.938rem;
    color:var(--cor-cizabtn);
}

.Conteudo__About__Dir {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* max-width: 90%;*/
}
.Conteudo__about__Divis {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 10%;
    width: 50%;
    padding-right: 5;
    padding-bottom: 10%;
}

.Conteudo__About__Di {
    flex-direction: column;
    display: flex;
    text-align: justify;
    font-size: 0.938rem;
}

.Conteudo__About_Te {
    display: flex;
    padding-bottom: 3%;
}

.Conteudo__About__Pa {
    padding-bottom: 3%;
    color: var(--cor-cizabtn);

}

.Conteudo__About__Div {
    margin-top: 15px;
    display:flex;
    flex-wrap:wrap;
    height:auto;
    font-size:0.938rem;
    gap: 10px 80px;

}

#Cor__Icon {
    color: var(--cor-roxo);
}

.Conteudo__About__Divi {
    flex-direction: column;
    display: flex;
    align-content: space-between;
    width: 50%;
    row-gap: 14px;
    padding-right: 10%;
    padding-left: 5% ;
}

.Ab-dr {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.container {
    height: 3px;
    background-color: #CCC;
    width: 100%;
    /* position: relative; */
}

#progress-barH{
    display: flex;
    width: 80%;
    border: 2px solid var(--cor-roxo);
    margin: 0 2% 1% 0;
    border-radius: 10px;
}

#progress-barC{
    display: flex;
    width: 60%;
    border: 2px solid var(--cor-roxo);
    margin: 0 2% 1% 0;
    border-radius: 10px;
}

#progress-barP{
    display: flex;
    width: 50%;
    border: 2px solid var(--cor-roxo);
    margin: 0 2% 1% 0;
    border-radius: 10px;
}

#progress-barS{
    display: flex;
    width: 90%;
    border: 2px solid var(--cor-roxo);
    margin: 0 2% 1% 0;
    border-radius: 10px;
}

.Conteudo__Serv {
    background-color:var(--cor-cinza);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-content: center;
}

.Conteudo__Serv__D {
    flex-direction: column;
    display: flex;
    text-align: center;
}

.Conteudo__Serv__T {
    padding: 10% 0% 1% 0%;
    font-size:1.875rem;
}

.Conteudo__Serv__P {
    padding: 0 28% 3% 28%;
    font-size: 0.938rem;
}

.Conteudo__Serv__Tabela {
    display: flex;
    width: 90%;
    height: 100%;
    padding-left: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 5%; */

}

.Conteudo__Serv__TabelaMob {
    display: none;
}

#Tabela {
    background-color:var(--cor-branco) ;
    text-align: center;
    width: 300px;
    height: 200px;
    padding: 20px 10px 0px 10px;


}

#Tabela__T {
    color: var(--cor-preto);
    font-size: 20px;
}

#Tabela__T:Hover {
    color:var(--cor-roxo)
}

#Tabela__I {
    color:var(--cor-roxo);
    font-size: 60px;
    display: flex;
    justify-content: center;
}

#Tabela__L {
    display: flex;
    padding: 10px;
    gap: 20px;

}

#Tabela__Tex {
    font-size: 15px;
    padding-top: 10px;
    color: var(--cor-cizabtn);
}

#Tabela:hover {
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 10px 0px #b8b8b8;
}

.Conteudo__Serv__Img {
    margin-top: 8%;
    height: 330px;
    width: 100%;
    background-image: url(../Assets/call-to-action.jpg);
    background-size: 100%  100%;
    background-repeat: no-repeat;
}

#Cor__Img {
    width: 100%;
    height: 330px;
    background-color: #754ef5bf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#Conteudo__Ori {
    padding: 10px 0 0 0;
    display: flex;
    gap:20px
}

.Conteudo__Serv__Img__T {
    font-size: 30px;
    font-weight: 600;
    color:var(--cor-branco);
}

.Conteudo__Serv__Img__Tex {
    color:var(--cor-branco);
    width: 50%;
    text-align: center;
    font-size:15px
}

.Conteudo__Serv__Img__BtnA {
    margin-top: 2%;
    border-collapse: collapse;
    background-color:var(--cor-branco);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-roxo);
    text-align: center;
    border: 1px solid var(--cor-branco);
}

.Conteudo__Serv__Img__BtnA:hover {
    border: 1px solid var(--cor-roxo);
    background-color:var(--cor-roxo);
    color:var(--cor-branco)
}

.Conteudo__Serv__Img__BtnB {
    margin-top: 2%;
    border-collapse: collapse;
    border-radius: 20px;
    padding: 10px 44px 10px 44px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-branco);
    text-align: center;
    border: 1px solid var(--cor-branco);
}

.Conteudo__Serv__Img__BtnB:hover {
    background-color: #ffffff3b;
}

.Conteudo__Port {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.Conteudo__Port__T {
    align-self: flex-start;
    padding-top: 10%;
    padding-left: 9%;
    padding-bottom: 1%;
    font-size: 1.875rem;
}

.Conteudo__Port__P {
    font-size: 0.938rem;
    align-self: flex-start;
    padding-left: 9%;
    padding-bottom: 2%;
    width: 45%;
    color:var(--cor-cizabtn);
}

.Conteudo__Port__Tabela {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.Conteudo__Port__TabelaMob {
    display: none;
}

#Tabela__P {
    text-align: center;
    width: 360px;
    height: 360px;
    padding: 20px 10px 0px 10px;
}

#Img_P{
    visibility: hidden;
}

.menu__Port:hover {
    background-color: #754ef5bf;
    opacity: 1;
    counter-reset:initial ;
}

.menu__Port:hover .Btn__PortA {
     animation: go-foward 300ms;

}

 .menu__Port:hover .Btn__PortB {
    animation: go-back 300ms; 
}


.menu__Port:hover .Port__T {
     animation: go-downer 300ms;
}

.menu__Port:hover .linha_horizontal_P {
    animation: go-down 300ms;
}



.menu__Port {
    opacity: 0;
    /* content-visibility: hidden; */
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.Btn__PortA {
    display: flex;
    border-collapse: collapse;
    border: 1px solid var(--cor-branco);
    border-radius: 30px;
    color: var(--cor-branco);
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}

.Btn__PortB {
    display: flex;
    border-collapse: collapse;
    border: 1px solid var(--cor-branco);
    border-radius: 30px;
    color: var(--cor-branco);
    text-decoration: none;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
}


.Btn__PortA:hover {
    background-color: var(--cor-branco);
    color:var(--cor-roxo);

}

.Btn__PortB:hover {
    background-color: var(--cor-branco);
    color:var(--cor-roxo);

}

.Port__T {
    font-size: 25px;
    font-weight: 100;
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
}

.Ori__Port {
    gap:20px;
    display: flex;

}

.linha_horizontal_P {
    display: flex;
    width: 100px;
    border: 1px solid var(--cor-branco);
}

@keyframes go-back {
    from {
      transform: translateX(30px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-foward {
    from {
      transform: translateX(-30px);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes go-down {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes go-downer {
    from {
      transform: translateY(-30px);
    }
    to {
      transform: translateY(0);
    }
  }


.Tabela__Img1 {
    background-image: url(../Assets/work/w-1.jpg);
    background-size: 100% 100%;
}
.Tabela__Img2 {
    background-image: url(../Assets/work/w-2.jpg);
    background-size: 100% 100%;
}
.Tabela__Img3 {
    background-image: url(../Assets/work/w-3.jpg);
    background-size: 100% 100%;
}
.Tabela__Img4 {
    background-image: url(../Assets/work/w-4.jpg);
    background-size: 100% 100%;
}
.Tabela__Img5 {
    background-image: url(../Assets/work/w-5.jpg);
    background-size: 100% 100%;
}
.Tabela__Img6 {
    background-image: url(../Assets/work/w-6.jpg);
    background-size: 100% 100%;
}

.port-prices {
    background-color:var(--cor-cinza);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.conteudo-port-p {
    padding: 0 20% 3% 20%;
    font-size: 0.938rem;
}

.port-prices-table {
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.port-prices-tableMob {
    display: none;
}

#tabela-prices {
    flex-direction: column;
    display: flex;
    padding: 15px;

}

#title-prices {
    background-color: var(--cor-roxo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: 600;
    color: var(--cor-branco);
    border-radius: 3%;

}

#cnt-prices {
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 35px 0 30px 0px;
    font-size: 15px;
    color:var(--cor-cizabtn);
    align-items: center;

}

#price-p {
    width: 80%;

}

#price {
    padding-top: 10px;
    color:var(--cor-roxo);
    font-size: 25px;
    font-weight: 600;
}

#cnt-prices-cnt {
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 35px 0 35px 0px;
    gap:10px;
    font-size: 15px;


}

.cnt-prices-btn {
    background-color:var(--cor-branco);
    width:30%;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-roxo);
    text-align: center;
    border: 1px solid var(--cor-roxo);
    -webkit-box-shadow: 5px 0px 37px 17px #764ef5;
    box-shadow: 0px 3px 4px 0px #ae95ff;
    margin-top: 20px;
}

.cnt-prices-btn:hover {
    background-color:var(--cor-roxo);
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 3px 4px 0px #764ef5;
    color:var(--cor-branco);
}

.cnt-prices-btnB {
    background-color:var(--cor-roxo);
    width:30%;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-branco);
    text-align: center;
    border: 1px solid var(--cor-roxo);
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 3px 4px 0px #764ef5;
    margin-top: 20px;
}

.cnt-prices-btnB:hover {
    background-color:var(--cor-branco);
    color:var(--cor-roxo);
    -webkit-box-shadow: 5px 0px 37px 17px #764ef5;
    box-shadow: 0px 3px 4px 0px #ae95ff;
}

#tabela-po {

    text-align: center;
    height: 20%;

    /* padding: 20px 10px 0px 10px; */

}

#price-port {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2px;

}

.conteudo-blog {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.blog-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    gap:30px;
    padding-bottom: 10px;
}

#blog-i {
    background-image: url(../Assets/blog/b-1.jpg);
    background-size: 100% 100%;
    height: 340px;
    width: 330px;
    border-radius: 2%;
    display: flex;
    align-items: end;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 15px 0px #b8b8b8;
}

#blog-m {
    background-image: url(../Assets/blog/b-2.jpg);
    background-size: 100% 100%;
    height: 340px;
    width: 330px;
    border-radius: 2%;
    display: flex;
    align-items: end;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 15px 0px #b8b8b8;
}

#blog-g {
    background-image: url(../Assets/blog/b-3.jpg);
    background-size: 100% 100%;
    height: 340px;
    width: 330px;
    border-radius: 2%;
    display: flex;
    align-items: end;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 15px 0px #b8b8b8;
}

#blog-block {
    background-color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 25%;
    justify-content: center;
    padding: 20px;
}

#blog-block:hover {
    background-color: var(--cor-roxo);
    color: var(--cor-branco);
}

#block-t {
    font-size: 20px;
    width: 80%;
}

#block-ti {
    font-size: 20px;
}

#block-p {
    color:var(--cor-cizabtn)
}

.conteudo-cont {
    background-color:var(--cor-cinza);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}

#Tabela__Text {
    color: var(--cor-cizabtn);
    padding-top: 20px;
    padding-left: 5px;
}

#Tabela__Ti {
    color: var(--cor-preto);
    font-size: 20px;
}

#Tabela__Ti:Hover {
    color:var(--cor-roxo)
}

#Tabela__Texts {
    color: var(--cor-cizabtn);
}

.Conteudo__Serv__Tabelamob {
    display: none;
}


.formmap {
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

#form-text {
    display: flex;
    flex-direction: column;
    padding: 12px 195px 0 20px;
    border: 1px solid var(--cor-cinzaC);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    font-family:var(--fonte-geral);

}

#form-input {
    padding: 12px 300px 12px 20px;
    border: 1px solid var(--cor-cinzaC);
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 25px;
    font-family:var(--fonte-geral);
}

.form {
    width: 40%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
}

.form-btn {
    margin-top: 8%;
    margin-bottom: 15%;
    border-collapse: collapse;
    background-color:var(--cor-roxo);
    border-radius: 20px;
    width: 25%;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    font-size: 0.813rem;
    color:var(--cor-branco);
    text-align: center;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 6px 0px 0px #e2e2e2;
    border: 1px solid var(--cor-roxo);
}

.map {
    width: 40%;
}

#gmap_canvas {
    width: 77%;
    height: 59%;
    border: 8px solid var(--cor-branco);
    border-radius: 10px;
    -webkit-box-shadow: 5px 0px 37px 17px #000000;
    box-shadow: 0px 0px 10px 0px #b8b8b8;
}

.footer {
    padding: 15px;
    text-align: center;
    color:var(--cor-branco);
    background-color: #1d2941;
}

.sub-footer {
    padding: 80px;
    text-align: center;
    background-color: #152137;
    color:var(--cor-branco);
}




#footer-cont {
    gap: 15px;
    padding-right: 21%;
    padding-left: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-btn-ori {
    margin-top: 5px;
    align-items: flex-end;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:20px;
    font-size: 20px;
}

.footer-btn {
    display: flex;
    background-color: #1d2941;
    border-collapse: collapse;
    border: 1px solid #1d2941;
    border-radius: 30px;
    padding: 15px;
    color: var(--cor-branco);
    text-decoration: none;
    justify-content: center;
}

@media screen and (max-width:600px) {

    .cab__menu{
        display: none;
    }

    .cab {
        padding: 0 0 0 0;
        width: 100%;
        height: 90px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }

    .containerbox {
        display: flex;
        justify-content: center;
        margin-left: 9em;
        
    }

     .cab__menu-hamburguer {
        background-image: url("/Assets/Menu.svg");
        background-repeat: no-repeat;
        background-position: center;
    } 

    .container__imagem {
        padding: 1em;
    }

    .List-Ori {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    
    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 2%;
        left: 2%;
        width: 100vw;
        margin-top: 5px;
        list-style-type: none;
        
    }
    
    .container__botao:checked~.lista-menu {
        display: block;
    }
    
    .lista-menu__titulo,
    .lista-menu__item {
        padding: 10px;
        background-color: var(--cor-branco);
    }

    .container__botao {
        display: none;
    }
    
    .lista-menu__titulo {
        color: var(--cor-roxo);
        font-weight: 700;
    }
    
    .lista-menu__link {
        background: var(--cor-roxo);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
    }
    
    .cab__img {
        height: 50px;
    }

    .conteudo__Banner {
        margin-top: 5.5em;
        height: 100%;
        width: 100%;
        background-image: url(../Assets/banner/Banner_mob.png);
        background-size: 100%  100%;
        background-repeat: no-repeat;
    
    }

    #Banner__subtitle {
        color: var(--cor-roxo);
        font-size: 1.563rem;
        font-weight: 600;
    
    }

    #Banner__title {
        font-size: 2.200rem;
        color:var(--cor-preto);
     }

     .conteudo__banner__View {
        display: flex;
        flex-direction: column;
        padding: 30% 2% 35% 5%;
        gap: 20px;
    
    }

    .Conteudo__Banner__View__Btn {
        width: 40%;
    }

    .conteudo__Btn {
        align-items: flex-end;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        gap:2px;
        margin-bottom: 12%;
    }

    #linha_horizontal {
        display: flex;
        width: 20px;
        border: 1px solid var(--cor-roxo);
        margin: 0 2% 4% 0;
    
    }

    .Conteudo__About__P {
        padding: 0 5% 10% 5%;
        font-size: 1rem;
    }

    .Conteudo__About__Dir {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Conteudo__about__Divis {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 0 0 5%;
        width: 90%;
        padding-bottom: 10%;
    }

    .Conteudo__About__Di {
        flex-direction: column;
        display: flex;
        text-align: left;
    }

    .Conteudo__About_Te {
       font-size: 18px;
    }

    .Conteudo__About__Pa {
        padding-bottom: 3%;
        color: var(--cor-cizabtn);
        font-size: 16px
    }

    #Cor__Icon {
        color: var(--cor-roxo);
        margin-right: 10px;
    }

    .Conteudo__About__Divi {
        width: 90%;
        row-gap: 14px;
        padding-left: 5%;
        padding-right: 0;
    }

    .Ab-dr {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .Conteudo__Serv__P {
        padding: 0 5% 10% 5%;
        font-size: 1rem;
    }

    .Conteudo__Serv__Tabela {
        display:none;
    }

    .Conteudo__Serv__TabelaMob {
        display: flex;
        background-color:var(--cor-cinza);
        width: 100%;
        height: 100%;
        flex-direction:column;
        align-items: center;
        
    }

    #Tabela__I {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    #Tabela {
        justify-content: center;
        background-color:var(--cor-branco) ;
        text-align: center;
        width: 100%;
        height: 200px;
        padding: 20px 10px 0px 10px;
    
    
    }

    .Conteudo__Serv__Img {
        background-image: url(../Assets/call.jpg);
        height: 29em;
        width: 100%;
    }

    #Cor__Img {
        height: 29em;
        gap:20px;
        display: flex;
        text-align: center;
    }

    .Conteudo__Serv__Img__Tex {
        width: 80%;
        text-align: center;
    }

    #Conteudo__Ori {
        flex-direction: column;
        gap: 0.5em;
    }

    .Conteudo__Port__P {
    font-size: 1rem;
    padding-left: 5%;
    padding-bottom: 5%;
    width: 90%;
    }

    .Conteudo__Port__T {
        padding-left: 5%;
        padding-bottom: 1%;
    }

    .Conteudo__Port__Tabela {
        display: none;
    }

    .Conteudo__Port__TabelaMob {
        display: flex;
        width: 90%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .conteudo-port-p {
        padding: 0 5% 10% 5%;
        font-size: 1rem;
    }

    .port-prices-table {
        display: none;
    }
    

    .port-prices-tableMob {
        display: flex;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    .blog-photo {
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
    }


    #form-text {
        padding: 12px 0px 0 20px;
    }

    .form {
        width: 85%;
        padding-left: 3%;
    }

    #form-input {
        padding: 12px 0px 12px 20px;
        border: 1px solid var(--cor-cinzaC);
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 25px;
        font-family:var(--fonte-geral);
    }

    #form-text {
        width: 110%;

    }

    .formmap {
        flex-direction: column;
    }

    .form-btn {
        width: 40%;
    }
    
    .map {
        padding-left: 1em;
        width: 90%;
        margin-bottom: 5em;
    }

    #gmap_canvas {
        width: 100%;
        height: 20em;
        border: 8px solid var(--cor-branco);
        border-radius: 10px;
        -webkit-box-shadow: 5px 0px 37px 17px #000000;
        box-shadow: 0px 0px 10px 0px #b8b8b8;
    }

    .sub-footer {
        gap:30px;
        padding-top: 30px;
        text-align: center;
        background-color: #152137;
        color:var(--cor-branco);
    }    

    #footer-cont {
        padding-right: 1px;
        padding-left: 1px;
    }
}
